* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: #000022;
    overflow: hidden;
}

.big-circle {
    position: absolute;
    background-color: #060631;
    top: 0;
    left: -80px;
    width: 850px;
    height: 800px;
    border-radius: 0 500px 500px 0;
    animation: float 6s ease-in-out infinite;
    z-index: -1;
}

::placeholder {
    color: green;
}

@keyframes float {
    0% {
        transform: translateX(0px);
        border-radius: 800px;
    }

    50% {
        transform: translateX(30px);
        border-radius: 51% 49% 52% 48% / 10% 86% 14% 90%;
    }

    100% {
        transform: translateX(0px);
        border-radius: 800px;
    }
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 3px;
}

.search{

}

.search > input{
    background-color: transparent;
    width: 235px;
    height: 25px;
    border: 1px solid green;
    border-radius: 3px;
}

.search > button{
    background-color: transparent;
    height: 30px;
    border: 1px solid green;
    color: green;
    cursor: pointer;
    border-radius: 3px;
}

.content{
    width: 300px;
    height: 300px;
    border: 1px solid green;
    margin: 10px;
    border-radius: 3px;
}